@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #ffffff;
}

body {
  margin: 0;
  display: block; 
  font-family: sans-serif;
}

button {
  all: unset; 
  cursor: pointer;
  box-sizing: border-box;
}

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }